.App {
  text-align: center;
  height: 100vh; /* Make the container span the full height of the viewport */
  width: 100vw; /*Make the container span the full width of the viewport*/
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent tiling of the image */
  background-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@font-face {
  font-family: 'Kage';
  src: url('./../public/fonts/kage1.woff') format('woff'),
 url('./../public/fonts/kage2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}