.LandingPage {
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 2;
  /* Ensures content is above the overlay */
}

.LandingPage-header {
  font-size: 2.5em;
  /* Reduced for mobile */
  font-family: 'Kage';
  color: yellow;
  font-weight: 100;
  letter-spacing: 2px;
  /* Reduced spacing */
  line-height: 0.9;
}

.LandingPage-body {
  font-size: 1.2em;
  /* Reduced for mobile */
  color: yellow;
  margin-top: 20px;
}

.backgroundContainer {
  position: relative;
  min-height: 100vh;
  /* Use min-height to allow content to grow */
  width: 100vw;
  overflow-x: hidden;
  /* Only hide horizontal overflow */
}

/* ... existing pseudo-element styles ... */

.backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.NavBar {
  position: relative;
  z-index: 3;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .LandingPage-header {
    font-size: 5em;
    letter-spacing: 4px;
  }

  .LandingPage-body {
    font-size: 1.75em;
  }
}

@media (min-width: 1024px) {
  .LandingPage-header {
    font-size: 7em;
  }

  .LandingPage-body {
    font-size: 2em;
  }
}

.siya-link {
  color: yellow;
  /* Matches the header color */
  text-decoration: none;
  /* Removes the underline */
  transition: color 0.3s ease;
  /* Smooth transition for hover effect */
}

.siya-link:hover {
  color: #ff1493;
  /* Pink hover color for contrast */
  cursor: pointer;
  /* Changes cursor to pointer */
}