.LandingPage {
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 2; /* Ensures content is above the overlay */
}

.LandingPage-header {
  font-size: 7em;
  font-family: 'Kage';
  color: yellow;
  font-weight: 100;
  letter-spacing: 4px;
  line-height: 0.8;
}

.LandingPage-body {
  font-size: 1.5em;
  color: yellow;
}

.backgroundContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.backgroundContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1; /* Ensures the overlay is above the video but below the content */
}

.backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0; /* Ensures the video is behind the overlay and content */
}

.NavBar {
  position: relative;
  z-index: 3; /* Ensures the navigation bar is above the overlay and content */
}